#wrapper {
 width: 100%;
 height: 100vh;
 padding: 3%;
 _background-color: black;
}

#wrapper>header {
 width: 100%;
 height: 15%;
 display: flex;
 border-bottom: 1px solid #ccc;
}

#wrapper>header .log-in {
 width: 33.33%;
 height: 100%;
}

#wrapper>header .log-in>ul {
 width: 100%;
 height: 100%;
 display: flex;
 padding: 10% 0;
}

#wrapper>header .log-in>ul>li {
 width: 25%;
 height: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 border-left: 1px solid #333;
}

#wrapper>header .logo {
 width: 33.33%;
 height: 85%;
 display: flex;
 justify-content: space-evenly;
}

#wrapper>header .logo>img {
 height: 100%;
}

#wrapper>header .input {
 width: 33.33%;
 height: 100%;
 display: flex;
}

#wrapper>header .input .search {
 width: 90%;
 height: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

#wrapper>header .input .search>input {
 height: 50%;
 width: 80%;
}

#wrapper>header .input .search>i {
 font-size: 2.5em
}

#wrapper>header .input .bag {
 width: 10%;
 height: 100%;
 align-items: center;
 justify-content: space-evenly;
 display: flex;
}

#wrapper>header .input .bag>i {
 font-size: 2.5em;

}

#wrapper .menu {
 width: 100%;
 height: 7.5%;
 display: flex;
 padding: 0 22.5px;
}

#wrapper .menu .cate {
 width: 25%;
 height: 100%;
 display: flex;
 justify-content: space-between;
 padding: 1%;
}

#wrapper .menu .cate .catalog {
 width: 50%;
 height: 100%;
}

#wrapper .menu .cate .catalog>i {
 width: 10%;
 font-size: 20px;
}

#wrapper .menu .cate .catalog>a {
 margin-left: 5%;
 width: 30%;
 font-size: 15px;
}

#wrapper .menu .cate>img {
 width: 30%;
 height: 100%;
}

#wrapper .menu .nav {
 width: 50%;
 height: 100%;
}

#wrapper .menu .nav>ul {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

#wrapper .menu .nav>ul>li {
 width: 12.5%;
 height: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

#wrapper .menu .nav>ul>li>a {
 font-size: 15px;
}


#wrapper .slides {
 width: 100%;
 height: 80%;
 margin: auto;
 overflow: hidden;
}

#wrapper .slides .slider {
 width: 100%;
 height: 80%;
 position: relative;
 left: 0;
}

.image {
 width: 100%;
 height: 100%;
 position: absolute;
}

.image:nth-child(1) {
 left: 0;
 background-image: url(../img/메인배너1.jpg);
 background-size: contain;
 background-repeat: no-repeat;
}

.image:nth-child(2) {
 left: 100%;
 background-image: url(../img/메인배너2.jpg);
 background-size: contain;
 background-repeat: no-repeat;
}

.image:nth-child(3) {
 left: 200%;
 background-image: url(../img/메인배너3.jpg);
 background-size: contain;
 background-repeat: no-repeat;
}

#wrapper .item {
 width: 100%;
 height: 50%;
 padding: 1%;
}

#wrapper .item>a {
 width: 100%;
 height: 10%;
 font-family: 'Noto+Sans+KR';
 font-size: 30px;
 font-weight: 700;
}

#wrapper .item .list-wrap {
 width: 100%;
 height: 100%;
 margin-top: 1%;
}

.list-wrap .lists {
 width: 100%;
 height: 100%;
 display: flex;
}

.list-wrap .new {
 width: 90%;
 height: 90%;
}

.list-wrap .new .list {
 width: 90%;
 height: 100%;
 display: flex;
}

.list-wrap .new .list>img {
 width: 90%;
 height: 90%;
}

.list-wrap .new .text {
 width: 90%;
 height: 16%;
 text-align: center;
}

.list-wrap .text>h3 {
 width: 100%;
 height: 50%;
 font-size: 13px;
}

.list-wrap .text>strong {
 width: 100%;
 height: 50%;
}