@media screen and (max-width:1448px) {
 #wrapper .menu .cate>img {
  width: 38%;
  height: 100%;
 }

 .right-now .pro-in {
  width: 40%;
  height: 100%;
  padding: 2%;
 }

 .pro-in .lo-name>p {
  width: 100%;
  height: 60%;
  font-family: "Noto+Sans+KR";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
 }

 .this-month {
  padding: 1%;
  width: 100%;
  height: 100%;
  display: flex;
 }

 .this-month .summer {
  background-color: #eee;
  width: 45%;
  height: 100%;
  position: relative;
  padding: 1.5%;
 }

 .summer .su-img {
  width: 100%;
  height: 100%;
  background-image: url(../../img/summer.jpg);
  background-repeat: no-repeat;
  background-size: contain;
 }

 .summer .sum-text {
  width: 100%;
  height: 20%;
  margin-left: 1%;
  position: absolute;
  bottom: 0;
 }

 .this-month .su-wrap {
  width: 55%;
  height: 100%;
  background-color: #eee;
  padding: 1%;
 }

 .this-month .su-wrap>li {
  width: 100%;
  height: 33.33%;
  display: flex;
  margin-top: 1%;
 }

 .right #rights {
  width: 100%;
  height: 80%;
  display: flex;
  padding: 0 0.5%;
 }

 #rights>li {
  width: 20%;
  height: 100%;
 }

 #rights .right-now {
  width: 100%;
  height: 100%;
  background-color: #fce0e0;
  display: flex;
  align-items: center;
 }

 #rights .right-now>img {
  width: 60%;
  height: 100%;
  background-color: #fce0e0;

 }
}


@media screen and (max-width:1300px) {
 .right-now .pro-in {
  width: 40%;
  height: 100%;
  padding: 2%;
  margin-top: 15%;
 }

 #rights .right-now {
  width: 100%;
  height: 100%;
  background-color: #fce0e0;
  display: flex;
  align-items: center;
 }

 #rights .right-now>img {
  width: 50%;
  height: 90%;
  background-color: #fce0e0;

 }

 #wrapper .slides {
  width: 100%;
  height: 50%;
  margin: auto;
  overflow: hidden;
  padding: 1%;
 }

 .lSAction>a {
  width: 32px;
  display: block;
  top: 40%;
 }
}

@media screen and (max-width:1196px) {
 #wrapper>header .log-in {
  width: 40%;
  height: 100%;
 }

 #wrapper>header .log-in>ul {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10% 0;
 }

 #wrapper>header .log-in>ul>li {
  width: 25%;
  height: 100%;
 }

 #wrapper>header .logo {
  width: 25%;
  height: 85%;
 }

 #wrapper>header .input {
  width: 30%;
  height: 100%;
  display: flex;
 }

 #wrapper .menu .cate>img {
  width: 35%;
  height: 90%;
 }

 .pro-in .price-area {
  width: 110%;
  display: flex;
 }

 .prices>strong {
  width: 51%;
  height: 100%;
  font-family: "Noto+Sans+KR";
  margin-left: 6%;
  font-weight: 700;
  font-size: 20px;
 }

 .prices>del {
  width: 25%;
  height: 100%;
  font-family: "Noto+Sans+KR";
  display: flex;
  font-size: 13px;
  margin-top: 2%;

 }

 .price-area .discount {
  width: 20%;
  height: 20%;
  color: #ef426f;
  font-family: "Noto+Sans+KR";
  font-weight: 700;
  font-size: 20px;
 }

 .list-wrap .new .text {
  width: 100%;
  height: 16%;
  text-align: center;

 }
}